{% extends 'foundation/base.html' %}

{% block title %}some utilities{% endblock %}

{% block base_body %}

    <div class="row">
      <div class="large-12 columns">
	{% block body %}{% endblock body %}
      </div>
    </div>

{% endblock base_body %}
